body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


#onas {
    background: 
    url(assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
   }
header{
    background-color: #d6eeff;
}
 /*-------------main---------------*/
 .side{
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 0 15px;
   font-size: 15.2px;
   height: 100%;
}
#together{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    height: 55px;
}
#together p{
    text-align: start;
}
.bold{
    font-weight: bold;
}
.left{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    margin: 0 0 0 45px;
}
#onas{
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}
.title{
    font-size: 3.2rem;
    color:#364652;
    margin-top: 60px;
}
#logo{
    color: #364652;
    text-transform:uppercase;}

#onas h2{
    font-size: 1.5em;
    color:#364652;
}
div.mid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
}
h2.left.mid{
    margin: 0 0 0 65px;
}



.box{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
p{
    padding: 100px 90px 0 0px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    h2.left.mid{
        margin: 0 0 0 0px;
    
    }
    p{
        padding: 50px 0 0 0;
        font-size: smaller;
    }
  }
  #oferta p{
    color: #364652;
  }
  .guzik{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px 20px 140px;
    margin: 30px;
  }
  button{
    color:#364652;
    background-color: #D6EEFF;
    font-size: x-large;
    border-style: none;
    border-radius: 40px;
    padding: 10px;
    width: 500px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    justify-content: center;
  }
  div.box.guzik{
    align-content: center;
  }