body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


#main {
    background: 
    url(assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
   }
#header{
    background-color: #212529;
}
 /*-------------main---------------*/
 .side{
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 0 15px;
   font-size: 15.2px;
   height: 100%;
}
#together{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2px;
    height: 55px;
}
#together p{
    text-align: start;
}
.bold{
    font-weight: bold;
}
.left{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    margin: 0 0 0 45px;
}
#main{
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}
.title{
    font-size: 3.5rem;
    color:#364652;
}
